body {
}

.todoItem {
    overflow: hidden;
    border-style: double;
}

.itemName {
    color: navy;
    display: inline-block;
    font-size: 40px;
}

.completedCheckBox {
    padding-left: 10px;
    display: inline-block;
    transform: scale(1.5);
}

.completedCheckBox input {
    z-index: -9999;
}

.completedCheckBox span {
    width: 20px;
    height: 20px;
    display: block;
    /*background: url("link_to_image");*/
}